extends base.pug

block style 
    style 
        include ../static/gallery.css 

block content 
    section#section1 
        h1 Gallery 
    section#section2 
        div.image
            img(src="/static/1646390298999.JPG")
            img(src="/static/1646390298992.JPG")
            img(src="/static/Ricky bhaiya.JPG")
            img(src="/static/goldi bhaiya.JPG")
            img(src="/static/rishi.JPG")