extends base.pug

block style 
    style 
        include ../static/services.css

block content 
    section#section1 
        h1.heading1 Our Features
    section#section2 
        div.img
            img(src="/static/light composure.jpg")
            h3.heading3 LIGHT COMPOSURE 
            p The world Light is a dynamic element that you have at your disposal when capturing a photograph.
        div.img
            img(src="/static/professional.jpg")
            h3.heading3 PROFESSIONAL SKILLS  
            p Photographer skills are the different techniques and abilities that you can use to create high-quality pictures.
        div.img
            img(src="/static/perfect equipment.png")
            h3.heading3 PERFECT EQUIPMENT 
            p Highly skilled photographers learn to maintain a solid balance between the artistic and technical sides of working behind the camera.
        div.img
            img(src="/static/ultra zoom.jpg")
            h3.heading3 ULTRA HD  
            p Focusing on a static subject is all well and good, but not everything will wait patiently for you while you compose and capture your shot.
        div.img
            img(src="/static/unique vision.png")
            h3.heading3 UNIQUE VISION  
            p Each person has his or her own personal vision. Photography gives you the freedom to fully express your personal vision.
        div.img
            img(src="/static/focusing knowledge.png")
            h3.heading3 FOCUSING KNOWLWDGE  
            p Focusing in photography is very important because it highlights. what's important in the photo and what isn't.
    section#section3 
        h1.heading1 Our Services 
    section#section4 
        div.imgcontainer
            p#wedding Royal Wedding 
        div.imgcontainer
            p#ring Ring Ceremony  
        div.imgcontainer
            p#reception Grand Reception  
        div.imgcontainer
            p#portfolio Portfolio 
        div.imgcontainer
            p#prewedding Pre Wedding  
        div.imgcontainer
            p#anniversary Anniversary 
    section#socialmedia
        div#social
            div.media
                a(href="https://www.facebook.com/fashionatestudio/?hc_ref=ARSF-cggd12rDberTykbtebRxDZXoVGCyUeLqTNNLMgeURZ5UjpCk7RiOOvARAN-Ye8&ref=nf_target&__xts__[0]=68.ARBuNfNSvCM7t5Ba4IMIMU70CEQukYXAq1hdYWenLDurTJrMQyme1NIsopfHdMFwrJXUVBfCDrwn6I_5fau1bKY4xQLcfgwJOpkGFCsVx4UE8h9oVL_OPMIZthPw-Ujrcw5NdC4WYTIIF5pS7DOAT0GoAVWK_P2i489UtHKuCa4VaNcbqzrZuDt6r-OaLjW_MdZ6KS1r-EJtAyszkEauN1NfP62uqZIorUcUPtHf0BjDJG4vD23e5Sdi7b94wqQddR_FjTS77jic97FuLqTDPdOuzRWXtMYFdQxvpUDpDd6xtfWFK4v5F8CboHxUzkE4m-9nnxE5ZkflvNq5Y9qBy7FqFkiEslGo9qj3PTgqdLwCnR3e3lYJcDtY0RoSL8lzda40Wg" target="_blank") 
                   img(src="/static/facebook-1799691_960_720.png")
            
            div.media
                a(href="https://www.instagram.com/fashionatestudioworld/?hl=en" target="_blank")
                   img(src="/static/87390.png")
            
            div.media
                a(href="https://www.youtube.com/channel/UCax4XQtspExfbWj0NQ4Gbew" target="_blank")
                   img(src="/static/youtube.png")