extends base.pug

block style 
    style 
        include ../static/team.css 

block content 
    section#section1 
        h1.heading1 Our Team 
    section#section2 
        div.img
            a(href="/static/rishi.JPG" target="_blank") 
                   img(src="/static/rishi.JPG") 
            h3.heading3 Rishi Raj 
            h5.heading5 Director 
        div.img
            a(href="/static/photographer1.jpg" target="_blank") 
                   img(src="/static/photographer1.jpg") 
            h3.heading3 Priyanka  
            h5.heading5 Photographer 
        div.img
            a(href="/static/photographer2.jpg" target="_blank") 
                   img(src="/static/photographer2.jpg") 
            h3.heading3 Anshul 
            h5.heading5 Photographer  
        div.img
            a(href="/static/photographer3.webp" target="_blank") 
                   img(src="/static/photographer3.webp") 
            h3.heading3 Harry 
            h5.heading5 Photographer  
        div.img
            a(href="/static/cinematographer1.jpg" target="_blank") 
                   img(src="/static/cinematographer1.jpg") 
            h3.heading3 Roshan 
            h5.heading5 Cinematographer  
        div.img
            a(href="/static/cinematographer2.jpeg" target="_blank") 
                   img(src="/static/cinematographer2.jpeg") 
            h3.heading3 Praveen 
            h5.heading5 cinematographer  
        div.img
            a(href="/static/cinematographer3.jpg" target="_blank") 
                   img(src="/static/cinematographer3.jpg") 
            h3.heading3 Aditi  
            h5.heading5 Cinematographer 
    section#socialmedia
        div#social
            div.media
                a(href="https://www.facebook.com/fashionatestudio/?hc_ref=ARSF-cggd12rDberTykbtebRxDZXoVGCyUeLqTNNLMgeURZ5UjpCk7RiOOvARAN-Ye8&ref=nf_target&__xts__[0]=68.ARBuNfNSvCM7t5Ba4IMIMU70CEQukYXAq1hdYWenLDurTJrMQyme1NIsopfHdMFwrJXUVBfCDrwn6I_5fau1bKY4xQLcfgwJOpkGFCsVx4UE8h9oVL_OPMIZthPw-Ujrcw5NdC4WYTIIF5pS7DOAT0GoAVWK_P2i489UtHKuCa4VaNcbqzrZuDt6r-OaLjW_MdZ6KS1r-EJtAyszkEauN1NfP62uqZIorUcUPtHf0BjDJG4vD23e5Sdi7b94wqQddR_FjTS77jic97FuLqTDPdOuzRWXtMYFdQxvpUDpDd6xtfWFK4v5F8CboHxUzkE4m-9nnxE5ZkflvNq5Y9qBy7FqFkiEslGo9qj3PTgqdLwCnR3e3lYJcDtY0RoSL8lzda40Wg" target="_blank") 
                   img(src="/static/facebook-1799691_960_720.png")
            
            div.media
                a(href="https://www.instagram.com/fashionatestudioworld/?hl=en" target="_blank")
                   img(src="/static/87390.png")
            
            div.media
                a(href="https://www.youtube.com/channel/UCax4XQtspExfbWj0NQ4Gbew" target="_blank")
                   img(src="/static/youtube.png") 